.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.welcome{
  background: url(../../assets/h2.jpg)no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  -o-background-size: cover;
  height: 80vh;
  width: 100%;
}
.jumbotron {
  background-color: transparent;
  font-size: 30px;
  text-align: center;
}
