<div class="container" style="height: 95vh; margin-top: 100px;">
    <div class="row">
        <div class="col-md-8">
            
            <mat-card style="margin: 10px; background-color: #dee2ff; color: black;">
                <mat-card-header>
                    <mat-card-title>{{currentHouse.name}}</mat-card-title>
                    <mat-card-subtitle> Category: {{currentHouse.category.catname}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <img mat-card-lg-image src="{{currentHouse.image}}" alt="image" style="height: 300px; width: 600px;">
                    <p>{{currentHouse.description}}</p>
                    <button mat-icon-button><i class="fa fa-bed" aria-hidden="true"></i> {{currentHouse.bed}} bedroom</button><br>
                    <button mat-icon-button><i class="fa fa-bath" aria-hidden="true"></i> {{currentHouse.bath}} bathroom</button>
                </mat-card-content>
                <mat-card-footer>
                    <p>Location: {{currentHouse.location}}</p>
                    <p>Price: {{currentHouse.price}}</p>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card style="margin: 10px; background-color: #dee2ff; color: black;">
                <mat-card-header>
                    <img mat-card-md-image src="../../assets/propic.jpeg" alt="profile pic" class="rounded">
                    <mat-card-title>{{currentHouse.user.username}}</mat-card-title>
                    <mat-card-subtitle>Your Realtor</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <h3>Contacts</h3>
                    <h3>email: {{currentHouse.user.email}}</h3>
                    <h3>Phone number: 0701230456</h3>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            
        </div>
    </div>
</div>