<!-- Material form review -->
<div class="container mt-5 pt-4" style="width: 50%;">
<div class="card">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Make A Review</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form class="text-center" style="color: #757575;" action="#!">

            <div class="form-row">
                <div class="col">
                    <!-- First name -->
                    <div class="md-form">
                        <input type="text" id="materialReviewFormFirstName" class="form-control">
                        <label for="materialReviewFormFirstName">First name</label>
                    </div>
                </div>
                <div class="col">
                    <!-- Last name -->
                    <div class="md-form">
                        <input type="email" id="materialReviewFormLastName" class="form-control">
                        <label for="materialReviewFormLastName">Last name</label>
                    </div>
                </div>
            </div>


             <button type='submit' class="btn btn-danger">Submit</button>


          
            <hr>

           

        </form>
        <!-- Form -->

    </div>

</div>
</div>
<!-- Material form review  -->
